<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap" rel="stylesheet">
  <title>Food Guru 💪</title>
</head>

<body>
  <div class="wrapper">
    <header>
      <nav class="nav-container">
        <div class="logo-container">
          <h1><a href="/" class="sitename">Food Guru</a></h1>
        </div>
        <div class="nav-menu">
          {{#if loggedIn}}
          <a href="/dashboard" class="btn-no-style">Dashboard</a>
          <button id="logout" class="btn-no-style">Logout</button>
          {{else}}
          <div class="login-btn"><a href="/login" id="login-btn" class="nav-txt">login</a></div>
          {{/if}}
        </div>
      </nav>
    </header>
{{{body}}}
  {{#if loggedIn}}
    <main id="main-container" class="main-container hide">
      <div class="main-inner-content hide">
        <h3 class="feature-name">FOOD GURU</h3>
        <h2 class="feature-font">Dinner ideas <br>are on us!</h2>
        <div class="line"></div>
        <p class="subtitle">Browse our awesome recipes with the ease of a click!</p>
      </div>
    </main>
    {{else}}
    <main id="main-container" class="main-container">
      <div class="main-inner-content">
        <h3 class="feature-name">FOOD GURU</h3>
        <h2 class="feature-font">Dinner ideas <br>are on us!</h2>
        <div class="line"></div>
        <p class="subtitle">Browse our awesome recipes with the ease of a click!</p>
      </div>
    </main>
  {{/if}}
  </div>

  <footer>
    <div class="copy-content">
      <h2>Thanks for visiting!</h2>
      <br>
      &copy Food Guru 2021
    </div>
  </footer>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}

</body>

</html>