{{> recipe-info recipe}}

{{#if loggedIn}}
<form class="form-comment">
  {{!-- <div class="your-recipe-subtitle recipe-content-container">
      <label for="recipe-title"></label>
      <input name="recipe-title comment-body" type="text" id="recipe-title"/> <br><br>
    </div> --}}
    <div class="your-recipe-subtitle">
    <textarea name="comment-body"></textarea>
  </div>
  <div>
    <button type="submit" class="edit-link">Add Comment</button>
    <button type="button" class="upvote-btn edit-link">Upvote</button>
  </div>
</form>
{{/if}}

{{> comments recipe.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}