{{> recipe-info recipe}}

{{#if loggedIn}}
<form class="form-comment">
  <div>
    <textarea name="comment-body" placeholder="Leave a comment or upvote if ya want . . ." class="comment-body"></textarea>
  </div>
  <div class="comment-btn-container">
    <button type="button" class="comment-container-btns">Upvote</button>
    <button type="submit" class="comment-container-btns">Add Comment</button>
  </div>
</form>
{{/if}}

{{> comments recipe.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}